<section id="aboutus" class="about-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>About Our Company</h2>
            <p>The goal of Eminent Express, a division of Empower Eminent Solutions Private Limited.</p>
            <span class="colorborder"></span>
        </div>	
        
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-img aboutslider">
                    <img src="base/images/resource/mechanicalimg.jpg" alt="image">
                    <img src="base/images/resource/mechanicalimg2.jpg" alt="image">
                    <img src="base/images/resource/mechanicalimg3.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-text">
                    <div class="top-text">
                        
                       <p>The goal of Eminent Express, a division of Empower Eminent Solutions Private Limited, is to provide aspirant individuals and customers a unique modern business opportunity and exciting wide range of product brand/services in the sectors of Retails, Textiles, Wellness & Pharma, Electrical & Electronics, Agriculture and amenity facilities like Bus Services, Mobile/DTH Recharges, Electricity Bill Payments, Post Paid Bill Payments and many other. Our vision in this modern business system, customers can find and discover any product in their taste and value in any of our outlets across pan India.
                    </p>
                    <p>Eminent Express, having its corporate office at Tirupati as well, began with a dedicated commitment to provide a wonderful platform where various business sectors, entrepreneurs can be developed in accordance to their interest in the business. Eminent Express is well equipped with requisites to implement modern business techniques, wide range of products in all sectors, where an unlimited income sources is provided to ambitious earners.
                    </p>
                    <a href="#" class="quickbtn">Readmore..</a>
                    </div>
               
                </div>
            </div>
        </div>

    </div>
</section>