<section class="about-section sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="left-side">
                    <img src="base/images/resource/businessman-2.png" alt="images" />
                </div>
            </div>
            <div class="col-sm-7">
                <div class="right-side">
                    <h4>Helping and providing <span class="p-color">best service</span> to our client <span>business over 20 years!!</span></h4>
                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit Perfer repudiandae nostrum alias quibusdam! </h5>
                    <div class="row abutsrvrow">
                    <div class="col-md-6 col-sm-6">
                        <div class="aboutsrv">
                            <ul>
                                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet</li>
                                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Sed ut perspiciatis unde</li>
                                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Nemo enim ipsam voluptatem</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="aboutsrv">
                            <ul>
                                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Lorem ipsum dolor sit amet</li>
                                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Sed ut perspiciatis unde</li>
                                <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Nemo enim ipsam voluptatem</li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <cite>Jackie Anderson </cite>
                </div>
            </div>
        </div>
    </div>
</section>