<section class="about-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>About Our Company</h2>
            <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
            <span class="colorborder"></span>
        </div>	
        
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-img aboutslider">
                    <img src="base/images/resource/mechanicalimg.jpg" alt="image">
                    <img src="base/images/resource/mechanicalimg2.jpg" alt="image">
                    <img src="base/images/resource/mechanicalimg3.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-text">
                    <div class="top-text">
                        <h3>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet facer possim assum.</h3>  
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> 
                    </div>
                    <div class="ourfeature">
                        <div class="col-sm-4">
                            <div class="ftrbox">
                                <div class="ficon"><i class="fa fa-trophy"></i></div>
                                <div class="ftext">Certified Company</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ftrbox">
                                <div class="ficon"><i class="fa fa-coffee"></i></div>
                                <div class="ftext">20 Years Experinced</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="ftrbox">
                                <div class="ficon"><i class="fa fa-slideshare"></i></div>
                                <div class="ftext">Innovative Works</div>
                            </div>
                        </div>								
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>