<section class="blog-home sec-padding">
    <div class="container">
       
        <div class="row">
                <div class="sec-title text-center">
                        <h2>Downloads</h2>
                       
                        <span class="colorborder"></span>
                    </div>
            <!-- News 1 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-box">
                        <img src="base/images/brochures.jpg" alt="">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="content">
                            <a href="#"><h3>Download E-Brochure</h3></a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- News 2 -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-box">
                        <img src="base/images/ppt.jpg" alt="">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>								
                    </div>
                    <div class="content-box">
                        <div class="content">
                            <a href="#"><h3>Download PPT</h3></a>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
