<section class="blog-home sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Latest News</h2>
            <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
            <span class="colorborder"></span>
        </div>
        <div class="row">
            <!-- News 1 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-box">
                        <img src="base/images/resource/blog-image-1.jpg" alt="">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="date-box">
                            <div class="inner">
                                <div class="date">
                                    <b>24</b> apr
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-box">
                        <div class="content">
                            <a href="blog-details.html"><h3>Provide qualtiy productivity with certified engineers</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectet adipi sed do eiusmod tempor incididunt modo labore et dolore magna aliqu...</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- News 2 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-box">
                        <img src="base/images/resource/blog-image-2.jpg" alt="">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="date-box">
                            <div class="inner">
                                <div class="date">
                                    <b>24</b> apr
                                </div>
                            </div>
                        </div>								
                    </div>
                    <div class="content-box">
                        <div class="content">
                            <a href="blog-details.html"><h3>We are best for any indutrial & business solution</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectet adipi sed do eiusmod tempor incididunt modo labore et dolore magna aliqu...</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News 3 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-box">
                        <img src="base/images/resource/blog-image-3.jpg" alt="">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="date-box">
                            <div class="inner">
                                <div class="date">
                                    <b>24</b> apr
                                </div>
                            </div>
                        </div>								
                    </div>
                    <div class="content-box">
                        <div class="content">
                            <a href="blog-details.html"><h3>10 reason why should choose us for your business</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectet adipi sed do eiusmod tempor incididunt modo labore et dolore magna aliqu...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
