<section class="contact-form">
    <div class="outer-container clearfix">

        <!--Column-->
        <div class="column form-column">
            <div class="inner-box">

                <div class="default-form">
                    <form method="post" action="#" id="contact-form">
                        <div class="row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input name="username" value="" placeholder="Name *" required="" type="text">
                                </div>
                                <div class="form-group">
                                    <input name="email" value="" placeholder="Email *" required="" type="email">
                                </div>

                                <div class="form-group">
                                    <input name="phone" value="" placeholder="Phone *" required="" type="text">
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input name="subject" value="" placeholder="Subject *" type="text">
                                </div>

                                <div class="form-group">
                                    <textarea name="message" placeholder="Requirement" required=""></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="text-left">
                            <button type="submit" class="btn-two">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Column-->
        <div class="column info-column" style="background-image:url(base/images/background/image-5.jpg);">
            <div class="inner-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="inner-most">
                    <div class="sec-title text-center">
                        <h2>Request For Call Back</h2>
                        <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                        <span class="colorborder"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
