 <!-- Main Header -->
<header class="site-header headersecond">
    <!-- Header Top -->
    <htmlPartial src="EminentExpress/components/templates/_header-top.html"></htmlPartial>
    <!-- Header Top End -->

    <!--Header-Main-->
    <div class="header-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo">
                        <a href="index.html"><img src="base/images/logo.png"  alt="logo"></a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <!-- Main Menu -->
                    <htmlPartial src="EminentExpress/components/templates/_navigation.html"></htmlPartial>
                    <!-- Main Menu end -->

                </div>
            </div>
        </div>
    </div>

    <!--Sticky Header-->
    <div id="sticky-header" class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" class="img-responsive"><img src="base/images/logo-small.png" alt="Transpo" title="Transpo"></a>
            </div>

            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <htmlPartial src="EminentExpress/components/templates/_navigation.html"></htmlPartial>
                <!-- Main Menu End-->
            </div>

        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!-- Main Header end -->