<section class="hometestmon">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Our Happy Clients</h2>
            <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
            <span class="colorborder"></span>
        </div>

        <div class="row testmonrow">
            <div class="col-sm-12">
                <div class="testwrp">
                    <div class="single-testm">
                        <div class="client-image"><img src="base/images/clients/client1.jpg" class="testmimg" alt="" width="100" height="100"> </div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et.</p>
                        <h4>John White<small>Director</small></h4>
                        <div class="icon-box"><span class="fa fa-quote-left"></span></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="testwrp">
                    <div class="single-testm">
                        <div class="client-image"><img src="base/images/clients/client2.jpg" class="testmimg" alt="" width="100" height="100"> </div>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et.</p>
                        <h4>John White<small>Director</small></h4>
                        <div class="icon-box"><span class="fa fa-quote-left"></span></div>
                    </div>
                </div>
            </div>					
        </div>
    </div>
</section>
