<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <!-- SLIDE  -->
            <li data-index='rs-342' data-transition='slotslide-vertical' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default' data-thumb='../../assets/base/images/photography3-280x43.jpg' data-rotate='0' data-saveperformance='off' data-title='Curtain from Left' data-description=''>
                <img src="base/images/main-slider/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-398-layer-1" data-x="left" data-hoffset="" data-y="center" data-voffset="-50" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: normal; font-size: 16px; line-height: 24px;margin-bottom:20px;font-weight:normal;">
                    <div class="smooth-textbox">
                        <h2>WELCOME TO EMPOWER EMINENT SOLUTIONS PRIVATE LIMITED.</h2>
                        

                    </div>
                </div>

            </li>

            <!-- SLIDE  -->
            <li data-index='rs-378' data-transition='slotslide-horizontal' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default' data-thumb='../../assets/base/images/notgeneric_bg3-280x43.jpg' data-rotate='0' data-saveperformance='off' data-title='Curtain from Right' data-description=''>
                <img src="base/images/main-slider/slide2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-598-layer-1" data-x="right" data-hoffset="" data-y="center" data-voffset="-50" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: normal; font-size: 16px; line-height: 24px;margin-bottom:20px;font-weight:normal;text-align:center;">
                    <div class="smooth-textbox">
                        <h1>EMINENT SHOPPING </h1>
                        

                    </div>
                </div>
            </li>

            <!-- SLIDE  -->
            <li data-index='rs-346' data-transition='boxfade' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default' data-thumb='../../assets/base/images/photography9-280x43.jpg' data-rotate='0' data-title='Fade' data-description=''>
                <img src="base/images/main-slider/slide3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-798-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-50" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: normal; font-size: 16px; line-height: 24px;margin-bottom:20px;font-weight:normal;">
                    <div class="smooth-textbox">
                        <h1>EMINENT YATRA</h1>
                        

                    </div>
                </div>
            </li>




                <!-- SLIDE  -->
                <li data-index='rs-343' data-transition='boxfade' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default' data-thumb='../../assets/base/images/photography9-280x43.jpg' data-rotate='0' data-title='Fade' data-description=''>
                    <img src="base/images/main-slider/slide4.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-798-layer-1" data-x="left" data-hoffset="" data-y="center" data-voffset="-50" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: normal; font-size: 16px; line-height: 24px;margin-bottom:20px;font-weight:normal;">
                        <div class="smooth-textbox">
                            <h1>EMINENT RETAILS</h1>
                            
    
                        </div>
                    </div>
                </li>



                    <!-- SLIDE  -->
            <li data-index='rs-344' data-transition='boxfade' data-slotamount='default' data-easein='default' data-easeout='default' data-masterspeed='default' data-thumb='../../assets/base/images/photography9-280x43.jpg' data-rotate='0' data-title='Fade' data-description=''>
                <img src="base/images/main-slider/slide5.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-798-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-50" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: normal; font-size: 16px; line-height: 24px;margin-bottom:20px;font-weight:normal;">
                    <div class="smooth-textbox">
                        <h1>EMINENT PAY</h1>
                        


                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>