<!-- footer section -->
<footer class="footer1">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footersec">
                    <a class="ftlogo" href="#">
                        <img alt="Awesome Image" src="base/images/logo-footer.png" />
                    </a>
                    <p>The goal of Eminent Express, a division of Empower Eminent Solutions Private Limited</p>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/eminentexpress" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/search?q=%40eminentxpress&src=typd&lang=en" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/117196561059184934934" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-sec quick-links">
                    <h3 class="title">Useful Links</h3>
                    <ul>
                        <li><i class="fa fa-chevron-circle-right"></i><a href="#">About Us</a></li>
                        <li><i class="fa fa-chevron-circle-right"></i><a href="#">Legal</a></li>
                        <li><i class="fa fa-chevron-circle-right"></i><a href="#">Downloads</a></li>
                        <li><i class="fa fa-chevron-circle-right"></i><a href="#">Legal</a></li>
                        <li><i class="fa fa-chevron-circle-right"></i><a href="#">Updates</a></li>
                        <li><i class="fa fa-chevron-circle-right"></i><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 latest-post col-sm-6">
                <div class="footer-sec latest-post">
                    <h3 class="title">Latest Tweets</h3>
                    <a class="twitter-timeline" href="https://twitter.com/eminentxpress">Tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 footcontact">
                <div class="footer-sec contact-footer">
                    <h3 class="title">Contact Us</h3>
                    <div class="ftcontact">
                        <ul>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <div class="continfo">
                                    <strong>Eminentexpress</strong>
                                    <br> Plot No.1, Hathiramji Colony, Opp Unlimited Store,
                                    Near Annamayya Circle,<br>
                                    AIR Bypass Road,<br>
                                    Tirupati-517501, Chittoor Dist, Andhra Pradesh.
                                </div>

                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <div class="continfo">
                                    <a href="#">+91- 9396 555 456 </a> / <a href="#">+91- 9347 555 456</a>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <div class="continfo">
                                    <a href="#">info@eminentexpress.in</a>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <div class="continfo">
                                    Monday - Friday : 9.00 - 7.00
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    Copyright &copy; 2017.
                    <br class="visible-xs"> All rights reserved.
                </div>
                <div class="text-right col-sm-4">

                </div>
            </div>
        </div>
    </div>

</footer>
<!-- footer section end -->