 <nav class="main-menu">
    <div class="navbar-header">
        <!-- Toggle Button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse clearfix">
        <ul class="navigation clearfix">
            <li><a href="#">Home</a></li>
            <li class="dropdown"><a href="#">Company</a>
                <ul>
                    <li><a href="#aboutus">About Us</a></li>
                    <li><a href="#legal">Legal</a></li>
                    <li><a href="#downloads">Downloads</a></li>
                    <li><a href="#updates">Updates</a></li>
                </ul>
            
            <li class="dropdown"><a href="oportunity.html">Opportunity</a>
                <ul>
                    <li><a href="#aboutus"> Classic Eminent Club</a></li>
                    <li><a href="#legal">Premium Eminent Club</a></li>
                    <li><a href="#downloads">Mercury Eminent Club</a></li>
                    <li><a href="#updates"> Important Note</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="services.html">Services</a>
                <ul>
                    <li><a href="#aboutus">Eminent Shoping</a></li>
                    <li><a href="#legal">Eminent Yatra</a></li>
                    <li><a href="#downloads">Eminent Retails</a></li>
                    <li><a href="#updates">Eminent Pay</a></li>
                </ul>
            </li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Join Now</a></li>
        </ul>
    </div>
</nav>