<section class="ourteamsec sec-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sec-title text-center">
                    <h2>OPPORTUNITY</h2>
                    <p>Any Customer enrolls himself either through offline or online with KYC details is eligible for a membership into Primary Club. 
                        <br>This Membership is absolutely free of charges and without any conditions.</p>
                    <span class="colorborder"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="team-box">
                    <div class="team-head">
                        <img src="base/images/back6.jpg" class="img-responsive mauto" alt="">
                    </div>
                    <div class="team-content">
                        <h3><span style="color:#00b7f1;">Classic</span> Eminent Club</h3>
                       <p>Any Registered Primary Club Member on purchase worth of 1000 Shopping Points (SP)...</p>
                       <a href="#">Readmore..</a>
                        <!-- end team-social -->
                    </div>
                    <!-- end team-content -->
                </div>
                <!-- end team-box -->
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="team-box">
                    <div class="team-head">
                        <img src="base/images/back6.jpg" class="img-responsive mauto" alt="">
                    </div>
                    <div class="team-content">
                        <h3><span style="color:#00b7f1;">Premium</span> Eminent Club</h3>
                        <p>Any Registered Primary/Classic Club member on purchase worth of 5000 Shopping Points... </p>
                        <a href="#">Readmore..</a>
                        <!-- end team-social -->
                    </div>
                    <!-- end team-content -->
                </div>
                <!-- end team-box -->
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="team-box">
                    <div class="team-head">
                        <img src="base/images/back6.jpg" class="img-responsive mauto" alt="">
                    </div>
                    <div class="team-content">
                        <h3><span style="color:#00b7f1;">Mercury </span> Eminent Club</h3>
                        <p>Any Registered Primary /Classic/Premium Eminent on purchase worth of 25000... </p>
                        <a href="#">Readmore..</a>
                        <!-- end team-social -->
                    </div>
                    <!-- end team-content -->
                </div>
                <!-- end team-box -->
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="team-box">
                    <div class="team-head">
                        <img src="base/images/back6.jpg" class="img-responsive mauto" alt="">
                    </div>
                    <div class="team-content">
                        <h3><span style="color:#00b7f1;">Important</span> Note</h3>
                        <p>The Company does not pressure for any purchases nor make compulsory... </p>
                        <a href="#">Readmore..</a>
                        <!-- end team-social -->
                    </div>
                    <!-- end team-content -->
                </div>
                <!-- end team-box -->
            </div>
        </div>
    </div>
</section>
