<section class="saleofweeek">
    <div class="container">
        <div class="sec-title ltproject">
            <h2>Latest Projects</h2>
        </div>

        <div class="sowbox">
            <div class="switem">
                <a href="#">
                    <img src="base/images/gallery/1.jpg"  alt="image" />
                    <div class="swhoverbox">
                        <h3>Financial Service <span>services / Trading</span></h3>
                    </div>
                </a>
            </div>

            <div class="switem">
                <a href="#">
                    <img src="base/images/gallery/2.jpg" alt="image" />
                    <div class="swhoverbox">
                        <h3>Estate planning <span>services / Trading</span></h3>
                    </div>
                </a>
            </div>
            <div class="switem">
                <a href="#">
                    <img src="base/images/gallery/3.jpg" alt="image" />
                    <div class="swhoverbox">
                        <h3>Business Planning <span>services / Trading</span></h3>
                    </div>
                </a>
            </div>
            <div class="switem">
                <a href="#">
                    <img src="base/images/gallery/4.jpg" alt="image" />
                    <div class="swhoverbox">
                        <h3>Startup Business <span>services / Trading</span></h3>
                    </div>
                </a>
            </div>
            <div class="switem">
                <a href="#">
                    <img src="base/images/gallery/5.jpg" alt="image" />
                    <div class="swhoverbox">
                        <h3>Financial Service <span>services / Trading</span></h3>
                    </div>
                </a>
            </div>
            <div class="switem">
                <a href="#">
                    <img src="base/images/gallery/6.jpg" alt="image" />
                    <div class="swhoverbox">
                        <h3>Business Planning <span>services / Trading</span></h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
