<section class="saleofweeek">
        <div class="container">
            <div class="row">
                <div class="sec-title text-center">
                    <h2>Downloads</h2>
                    <span class="colorborder"></span>
                </div>
                <!-- News 1 -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-servicebox">
                        <div class="servicebox-image">
                            <a class="lightbox-image" data-fancybox="gallery" href="base/images/certificate.png">
                                <img src="base/images/certificate.png" alt="image">
                                <div class="mask"><i class="fa fa-search"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- News 2 -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-servicebox">
                        <div class="servicebox-image">
                            <a class="lightbox-image" data-fancybox="gallery" href="base/images/pancard.png">
                                <img src="base/images/pancard.png" alt="image">
                                <div class="mask"><i class="fa fa-search"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>