<div class="services-sec">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Our Best Serivices</h2>
            <p>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
            <span class="colorborder"></span>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-servicebox">
                    <div class="servicebox-image">
                        <a class="lightbox-image" data-fancybox="gallery" href="base/images/services/shop.jpg">
                            <img src="base/images/services/shop.jpg" alt="image" />
                            <div class="mask"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="servicebox-content">
                        <h3><a href="business-consulting.html">Eminent Shopping</a></h3>
                      <p> At <strong>eminentbazar.com</strong> being e-commerce portal various products with different segments are available for purchase by customers through online by using their Net Banking/Credit/Debit card where product reaches their home.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-servicebox">
                    <div class="servicebox-image">
                        <a class="lightbox-image" data-fancybox="gallery" href="base/images/services/yatra.jpg">
                            <img src="base/images/services/yatra.jpg" alt="image" />
                            <div class="mask"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="servicebox-content">
                        <h3><a href="taxation.html">Eminent Yatra</a></h3>
                        <p>  <strong>Eminentyatra.com</strong> is committed to provide services required in day to day life to the customers in society like Bus ticket bookings of all kinds, Air Tickets, National and International Hotel Booking...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-servicebox">
                    <div class="servicebox-image">
                        <a class="lightbox-image" data-fancybox="gallery" href="base/images/services/retail.jpg">
                            <img src="base/images/services/retail.jpg" alt="image" />
                            <div class="mask"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="servicebox-content">
                        <h3><a href="investment-planning.html">Eminent Retails</a></h3>
                        <p>    Eminent Retails is dedicated to provide services to the public in the Retails, Textiles, and Electrical & Electronics, Leather products, Wellness & Pharma and many other sectors.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single-servicebox">
                    <div class="servicebox-image">
                        <a class="lightbox-image" data-fancybox="gallery" href="base/images/services/bill.jpg">
                            <img src="base/images/services/bill.jpg" alt="image" />
                            <div class="mask"><i class="fa fa-search"></i></div>
                        </a>
                    </div>
                    <div class="servicebox-content">
                        <h3><a href="retirement-planning.html">Eminent Pay</a></h3>
                        <p>    At <strong>Eminentpay.in</strong> customers can avail services of telephone/mobile/DTH Prepaid Recharges, Post Paid Mobile/Landline bill payments, electricity bill payments and many more utility bill payments.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
