<div class="welcome-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-bar-chart"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Business Planning</a></h3>
                            <p>Rimply dummy text of the printing and typeset torembeen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-clock-2"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Risk Management</a></h3>
                            <p>Rimply dummy text of the printing and typeset torembeen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-bright-lightbulb"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Market Research</a></h3>
                            <p>Rimply dummy text of the printing and typeset torembeen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-headphones"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">Suppport Team</a></h3>
                            <p>Rimply dummy text of the printing and typeset torembeen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
