<div class="welcome-sec">
    <div class="container">
        <div class="row">
                <div class="sec-title text-center">
                        <h2>UPDATES</h2>
                       <span class="colorborder"></span>
                   </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="single-service">
                        <div class="service-icon">
                           <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">LATEST NEWS</a></h3>
                            <p>Rimply dummy text of the printing and typeset torembeen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">LATEST EVENTS</a></h3>
                            <p>Rimply dummy text of the printing and typeset torembeen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">ACHIEVERS LIST</a></h3>
                            <p>Rimply dummy text of the printing and typeset torembeen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-item">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="fa fa-image" aria-hidden="true"></i>
                        </div>
                        <div class="service-content">
                            <h3><a href="#">PHOTO GALLERY</a></h3>
                            <p>Rimply dummy text of the printing and typeset torembeen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
